.container{
    margin: 0 80px;
    backdrop-filter: blur(20px);
}
.filtros{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.filtros hr{
    width: 90%;
}
.cards{
    width: 100%;
    padding:10px 10% 10px 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button{
    color: black;
}
.register{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register h5{
    margin: 20px 0 5px 0;
    display: flex;
}
.register hr{
    width: 90%;
}
.alerta{
    width: 35%;
    margin: 10px 0 0 0;
}
a{
    padding: 5px;
}
input{
    width: 35%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 10px;
}
.login{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.login hr{
    width: 90%;
}

.publicacion{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.publicacion h5{
    margin: 20px 0 5px 0;
    display: flex;
}
.publicacion hr{
    width: 90%;
}

select{
    width: 35%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 10px;
    text-align: center;
}
.notFound{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.links{
    text-decoration: none;
    color: green;
}

.titulo-usuario{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.titulo-usuario h1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.titulo-usuario div{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.info a{
    width: 30%;
}
.buttons{
    display: flex;
    align-items: center;
}

.hero .card-img {
    height: 500px;
    background-size: cover;
    color: black;
    font-size: 50px;
}